<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('detailsPartials/head') %>
    <title>URLx - Url Shortner</title>
</head>
<body class="md:px-8 px-6 py-2 md:p-4 font-[Inter] bg-gray-50">
  <%- include('detailsPartials/navbar') %> 

    <div class="mx-auto mt-16 text-center">
        <h2 class="text-3xl text-gray-600 font-bold" >SHORT URL DETAILS</h2>
        <p class="text-gray-600 mt-2.5" >Paste your Short URL below to see number of Clicks, Original URL and more.</p>
    </div>

    <div class="mx-auto mt-10">
        <div class="flex justify-center">
            <div class="w-full max-w-md">
              <div id="error_message" class="text-red-500 hidden"></div>
                <input type="text" 
                class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                id="Url" placeholder="Enter Short URL...">
                <button type="button" id="detailsbtn" class="w-full mt-5 bg-[#ffc107] text-gray-800 font-semibold py-2 px-4 rounded-lg hover:opacity-90">Show details</button>
            </div>
        </div>
        <p id="p1"></p>
    </div>
    <%- include('partials/footer') %>
</body>
    <script src="/details/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/validator/validator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</html>