<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('homePartials/head') %>
</head>

<body class="p-8 md:p-4 font-[Inter] bg-gray-50">
  <%- include('homePartials/HomeNavbar') %>

    <div class="container mx-auto mt-40 text-center">
      <h2 class="text-3xl text-gray-600 font-bold">URL SHORTENER</h2>
      <p class="text-gray-600 mt-2.5">Paste your long URL below to generate a shorter, more manageable link.</p>
    </div>

    <!-- Input field and button -->
    <div class="container mx-auto mt-10">
      <div class="flex justify-center">
        <div class="w-full max-w-md">
          <div id="error_message" class="text-red-500 hidden"></div>
          <input type="text" id="Url" placeholder="Enter URL..."
            class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button id="Createbtn"
            class="w-full mt-5 bg-[#ffc107] text-gray-800 font-semibold py-2 px-4 rounded-lg hover:opacity-90">
            Create
          </button>
        </div>
      </div>

      <div id="copyurl_div" class="justify-center mt-5 hidden">
        <div class="w-full max-w-md">
          <div class="flex">
            <input type="text" id="copy_input" value="Shortened URL" readonly
              class="w-full px-4 py-2 border border-gray-300 rounded-l-md shadow-sm bg-gray-100 focus:outline-none">
            <button id="copyButton" class="bg-[#ffbf00] text-gray-900 px-4 py-2 rounded-r-md hover:opacity-90">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-10 text-center text-gray-500">
      © 2025 URLx. All Rights Reserved.
    </div>
</body>
<script src="/home/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/validator/validator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</html>