<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/output.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-50">
    
    <div class="p-6  space-y-4">
        <a href="/user/auth/google" class="w-full flex items-center justify-center gap-2 px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-100 transition">
            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="w-5 h-5">
            Continue with Google
        </a>

        <a href="/user/auth/github" class="w-full flex items-center justify-center gap-2 px-4 py-2 border border-gray-300 text-gray-700 rounded-lg hover:bg-gray-100 transition">
            <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="GitHub" class="w-5 h-5">
            Continue with GitHub
        </a>
    </div>

</body>
<script src="/login/script.js"></script>
</html>