<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('urlsPartials/head') %>
</head>
<body class="md:px-8 px-6 py-2 md:p-4 font-[Inter] bg-gray-50">
    <%- include('urlsPartials/urlsNavbar') %>
    
    <h1 class="text-2xl font-semibold text-gray-500 my-4 w-full max-w-md mx-auto">Created Urls : </h1>
    
    <div id="urlDiv" class="mt-4">
    <p class="text-center text-gray-500"> No urls found.</p>
    </div>
    
    <%- include('partials/footer') %>
</body>
<script src="urls/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</html>
