header {
    /* background-color: white; */
    color: black;
}

.p-3 {
    padding-top: 0rem !important;
}

.nav-link {
    color: black !important;
}

.nav-link.text-secondary {
    color: #6c757d !important;
}

.btn-warning {
    background-color: #f0ad4e;
}

.btn-warning:hover {
    background-color: #f19c25;
}

.nav-link:hover {
    color: #47443f !important;
    /* Change color on hover */
}

.error {
    border: 1px solid red;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa; /* Light background for contrast */
}
        /* Footer styles */
        .footer {
            padding: 20px;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .footer-text {
            font-size: 14px;
        }

        /* Responsive footer for smaller devices */
        @media (max-width: 600px) {
            .footer-links {
                display: block;
                margin-bottom: 20px;
            }

            .footer-links a {
                display: block;
                margin: 5px 0;
            }
        }
        .card {
            border: 0px solid hsl(0, 0%, 87%);
            background-color: #f8f9fa;
            margin-top: 20px;
          }
          
          .card h5 {
            margin-bottom: 15px;
          }
          
          .card ul {
            padding-left: 20px;
          }
          