<nav class=" w-full">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
  <a  class="flex items-center rtl:space-x-reverse">
      <img src="/logo.png" class="md:w-12 w-14" alt="URLx Logo">
      <span class="text-2xl text-gray-700 ml-2 font-semibold">URLx</span>
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a href="https://github.com/sunjay-dev/URL-Shortner-Using-Mongodb" target="_blank"><img class="w-10 h-10 rounded-lg" src="/github.webp" ></a>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-100 " aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-1/2 md:flex md:mr-14 md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col px-4 py-3 md:p-0 mt-4 absolute right-2 font-medium border border-gray-100 rounded-lg bg-white md:bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:relative">
      <li class="md:mr-0">
        <a class="block py-1.5 px-8 md:text-gray-500 bg-[#ffc107] rounded-sm md:bg-transparent md:p-0" aria-current="page">Home</a>
      </li>
      <li>
        <a href="/details"  target="_blank"class="block py-1.5 px-8 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:p-0 ">Details</a>
      </li>
      <li>
        <a href="/urls" target="_blank" class="block py-1.5 px-8 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:p-0">Urls</a>
      </li>
      <li id="logOutBtn" class="md:cursor-pointer">
        <a class="block py-1.5 px-8 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:p-0">Logout</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
